@model CapaEntidades.Departamentos

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center">Editar Departamento</h2>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="d-flex">
        <div class="form-horizontal col">

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Siglas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Siglas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Siglas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar Cambios" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
        <div class="col w-75 ml-5">
            <img src="~/Images/edituser.png" alt="..." class="img-fluid w-50 rounded-right" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Lista")
</div>
