@model IEnumerable<CapaEntidades.Departamentos>

@{
    ViewBag.Title = "Lista";
}
<h1 class="text-center m-5">Lista de Departamentos</h1>

<form class="form-inline my-2 mb-3 float-right" action="/Departamentos/Filtro" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por Nombre" aria-label="Search" name="nombre">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
</form>

<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "text-decoration-none bg-primary text-light btn" })
</p>
<table class="table">
    <tr>
        <th>
            <span>Departamento</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Siglas)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siglas)
            </td>
            <td class="d-flex justify-content-end">
                @Html.ActionLink("Editar", "Edit", new { id = item.IdDepartamento, nombre = item.Nombre, siglas = item.Siglas }, htmlAttributes: new { @class = "text-decoration-none bg-success text-light btn mx-3" })
                @Html.ActionLink("Delete", "Delete", new { id = item.IdDepartamento }, htmlAttributes: new { @class = "text-decoration-none bg-danger text-light btn" })
            </td>
        </tr>
    }

</table>
