@model CapaEntidades.Usuarios

@{
    ViewBag.Title = "Nuevo Usuario";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}

<h2 class="text-center">Nuevo Usuario</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="d-flex">
        <div class="col-7 ml-5 mt-5">
            <div class="form-group row mt-4">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.IdDepartamento, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.IdDepartamento, (IEnumerable<SelectListItem>)items, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDepartamento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Cargo, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Cargo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cargo, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 p-0 mt-4">
                            <input type="submit" value="Nuevo Usuario" class="btn btn-outline-info btn-block" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <img src="~/Images/NuevoUsuario.png" class="img-fluid" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Inicio")
</div>