@model CapaPresentacion3.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear Cuenta";
    List<SelectListItem> departamentos = (List<SelectListItem>)ViewBag.items2;
}

<div class="d-flex justify-content-center p-5">
    <div class="row rounded p-0 shadow-lg">
        <div class="col-sm-8 p-0 pb-2">
            <h2 class="text-center my-4">@ViewBag.Title.</h2>
            <hr />
            <div class="form-group mx-5 mt-4 h-75">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label p-0" })
                        <div class="col-md-12 p-0">
                            @Html.TextBoxFor(m => m.Nombre, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Nombre del empleado" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-12 control-label p-0" })
                            <div class="col-md-12 p-0">
                                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Nombre de Usuario" })
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label p-0" })
                            <div class="col-md-12 p-0">
                                @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Correo Electronico" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label p-0" })
                            <div class="col-md-12 p-0">
                                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Contraseña" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label p-0" })
                            <div class="col-md-12 p-0">
                                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Confirmar contraseña" })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.IdDepartamento, new { @class = "col-md-2 control-label p-0" })
                            <div class="col-md-12 p-0">
                                @Html.DropDownListFor(model => model.IdDepartamento, (IEnumerable<SelectListItem>)departamentos, "Departamento", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Cargo, new { @class = "col-md-2 control-label p-0" })
                            <div class="col-md-12 p-0">
                                @Html.TextBoxFor(m => m.Cargo, htmlAttributes: new { @class = "form-control col-12", @placeholder = "Cargo" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group mx-0 mt-2 mb-3">
                        <div class="col-12 p-0">
                            <input type="submit" class="btn btn-outline-primary btn-block w-75 mx-auto" value="Nuevo Usuario" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col m-0 p-0">
            <img src="~/Images/registro.jpg" alt="..." class="img-fluid w-100 rounded-right" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
