@model IEnumerable<CapaEntidades.Usuarios>

@{
    ViewBag.Title = "Lista";
}

<h1 class="text-center m-5">Lista de Usuarios</h1>


<form class="form-inline my-2 mb-3 float-right" action="/Usuarios/Filtro" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar por Nombre" aria-label="Search" name="nombre"> 
    <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
</form>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create", routeValues: null, htmlAttributes: new { @class = "text-decoration-none bg-primary text-light btn" })
</p>
<table class="table">
    <tr>
        <th>
            <span>Usuario</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
           <span>Departamento</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamentos.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdUsuario, nombre=item.Nombre, correo=item.Correo,
           IdDepartamento=item.IdDepartamento, cargo=item.Cargo }, htmlAttributes: new { @class = "text-decoration-none bg-success text-light btn" })
           @Html.ActionLink("Borrar", "Delete", new { id=item.IdUsuario }, htmlAttributes: new { @class = "text-decoration-none bg-danger text-light btn" })
        </td>
    </tr>
}

</table>

