@model IEnumerable<CapaEntidades.EnvioDocumento>

@{
    ViewBag.Title = "Lista";
}

<h1 class="text-center m-5">Lista de Documentos</h1>

<div class="my-2 mb-3 float-right">
    <form class="form-inline" action="/Documentos/Filtro" method="post" id="busqueda1">
        <select class="custom-select" id="inputGroupSelect01" name="filtro">
            <option selected>Seleccione el filtro</option>
            <option value="Empleado">Empleado</option>
            <option value="Origen">Departamento Origen</option>
            <option value="Destino">Departamento Destino</option>
        </select>
        <input class="form-control mr-sm-2" type="search" placeholder="Consulta" aria-label="Search" name="consulta">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <form class="form-inline d-none" action="/Documentos/FiltroBusqueda" method="post" id="busqueda2">
        <input class="form-control mr-sm-2" type="date" placeholder="Desde" aria-label="Desde" name="desde">
        <input class="form-control mr-sm-2" type="date" placeholder="Hasta" aria-label="Hasta" name="hasta">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <div class="custom-control custom-checkbox my-2 mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="fecha">
        <label class="custom-control-label" for="fecha">Filtrar por fecha</label>
    </div>
</div>

<p>
    @Html.ActionLink("Nuevo Documento", "Create", routeValues: null, htmlAttributes: new { @class = "text-decoration-none bg-primary text-light btn" })
</p>
<table class="table">
    <tr>
        <th>
            <span>Documento</span>
        </th>
        <th>
            <span>Tipo</span>
        </th>
        <th>
            <span>Usuario</span>
        </th>
        <th>
            <span>Origen</span>
        </th>
        <th>
            <span>Destino</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.AspNetUsers.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamentos1.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamentos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secuencia)
            </td>
            <td>
                @item.Fecha.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdEnvio }, htmlAttributes: new { @class = "text-decoration-none bg-danger text-light btn" })
            </td>
        </tr>
    }

</table>

<script>
    const busqueda1 = document.getElementById("busqueda1");
    const busqueda2 = document.getElementById("busqueda2");
    const fecha = document.getElementById("fecha");

    function cambio() {
        if (fecha.checked == true) {
            busqueda1.classList.add("d-none");
            busqueda2.classList.remove("d-none");
        }
        else {
            busqueda2.classList.add("d-none");
            busqueda1.classList.remove("d-none");
        }
    }

    fecha.addEventListener('change', cambio)

</script>
