<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto Final</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/Content/imagehover.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark text-light p-2 mb-3 Links" style="background-color:black">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("DOCS APP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mx-3" })
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a href="/Usuarios/Inicio" class="nav-link">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a href="/Departamentos/Inicio" class="nav-link">Departamentos</a>
                </li>
                <li class="nav-item">
                    <a href="/Documentos/InicioDocumentos" class="nav-link">Documentos</a>
                </li>
                <li class="nav-item w-100 mt-2" style="margin-left:50%">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proyecto Final | ASP | Lisandro Mora | 2019-9051</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
